.section2
{
    padding: 5% 0%;
}

.title{
    font-family: Playfair Display;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.1599999964237213px;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
}

.img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}
.service_info{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.1599999964237213px;
    color: #54595F;
}

.latest_service_div{
    width: 100%;
    border-radius: 10px;
    background-color: #FEF9DC;
    padding: 30px 40px;
    margin-bottom: 15%;
}

.latest_services_title{
    font-family: var(--font-fraunces), serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.1599999964237213px;
    color: #000000;
}

.latest_services_info_div{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.latest_services_img{
    width: 70px;
    height: 64.5px;
    border-radius: 10px;
    object-fit: cover;   
}

.latest_services_link{
    font-family: var(--font-fraunces), serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #0E2207;    
}

.latest_services_link:hover{
    text-decoration: underline;
   text-underline-offset: 5px;
}

.service_info ul {

    list-style-type: disc;
    margin-bottom: 40px;
}
.orange{
    color: #F57C33;
}
.service_info ul ul{
    list-style-type: circle;

}
.service_info  li::marker {
    color: #F57C33;
    font-weight: 700;
}

.service_info li {
    padding: 0 0 0 20px;
    margin-bottom: 15px;
    text-align: justify;
}

.service_info p{
    margin-bottom: 30px;
    text-align: justify;
}

.service_info ol{
    margin-bottom: 30px;
}

.orange{
    color: #F57C33;
}
/* Mobile View */
@media only screen and (max-width: 500px)
{
    .img{
        width: 100%;
        height: 300px;}
    
  

    .title
    {
        font-size: 24px;
        line-height: 28.4px;
        margin-bottom: 10px;
    }

    .service_info li 
    {
        padding: 0 0 0 10px;
    }

    .service_info ol
    {
        padding-left: 20px;
    }

    .service_info ul
    {
        padding-left: 20px;
    }

    
}
/* Tablet View */
@media only screen and (min-width: 740px) and (max-width: 780px)
{.latest_services_div{
    margin-bottom: 5%;}
}