/* Header */
.header_main_link_div
{
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: #FFFFFF;
    width: 100%;
}
.header_info_main_div
{
   border-bottom: 1px solid rgba(32, 30, 30, 0.1);
}

.navbar_main_div
{
    gap: 30px !important
}
.header_info_div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_info_link_div
{
   display: flex;
   gap: 20px;
   padding: 15px 0px;
}

.nav_social_media_icon_main_div
{
    display: flex;
}

.nav_social_media_icon_div
{
    border-left: 1px solid rgba(229, 229, 229, 1);
    padding: 15px 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_social_media_icon_div:last-child
{
    border-right: 1px solid rgba(229, 229, 229, 1);
}

.social_media_icon
{
    color: rgba(31, 35, 94, 1);
    transition: 1s;
}

.social_media_icon:hover
{
    color: rgba(1, 20, 37, 1);
}

.header_info_link
{
   font-size: 12px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: -0.1599999964237213px;
   color: rgba(1, 20, 37, 1);
   text-decoration: none;
   text-decoration-color: rgba(245, 124, 51, 1);
   transition: 1s;
}

.header_info_link:hover
{
    text-decoration: underline;
    text-decoration-color: rgba(245, 124, 51, 1);
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    color: rgba(1, 20, 37, 1);
}
.header_mob_mail_info_div
{
    display: flex;
    gap: 15px;
}

.header_mob_email_info
{
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1599999964237213px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0px;
    text-decoration: none;
}

.mob_email_icon
{
    color: rgba(245, 134, 52, 1);
}

.nav_main_div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.logo_img
{
    width: 163px;
    height: 68px;
}

/* Navbar */
/* Navbar container */

.navbar a
{
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1599999964237213px;
    text-decoration: none;
    text-decoration-color: rgba(245, 124, 51, 1)!important;
    text-transform: uppercase;
    transition: 1s;
}

.navbar a:hover
{
    text-decoration: underline!important;
    text-decoration-thickness: 3px!important;
    text-decoration-color: rgba(245, 124, 51, 1)!important;
    text-underline-offset: 5px!important;
}

.active_link
{
  text-decoration: underline!important;
  text-decoration-thickness: 3px!important;
  text-decoration-color: rgba(245, 124, 51, 1)!important;
  text-underline-offset: 5px!important;
}


.btn_book_now
{
    background-color: rgba(1, 20, 37, 1);
    width: 155px;
    height: 50px;
    padding: 11px 14.68px 12px 13px;
    border: 1px solid rgba(1, 20, 37, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 2.799999952316284px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    transition: 1s;
}

.btn_book_now:hover
{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(1, 20, 37, 1);
}

.mob_menu_icon
{
    color: rgba(245, 124, 51, 1);
    display: none;
}

.nav_mob_num
{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.1599999964237213px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 0px;
}

.nav_mob_book_now_div
{
    display: flex;
    gap: 20px;
    align-items: center;
}

.book_now_mob
{
    display: none;
}
/* End of Navbar */

#open_close_id
{
    display: none;
}

/* Header Dropdown */
.dropdown 
{
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn 
{ 
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.1599999964237213px;
    text-decoration: none;
    text-decoration-color: rgba(245, 124, 51, 1)!important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 1s;
  }
  
  .dropdown:hover .dropbtn 
  {
    text-decoration: underline!important;
    text-decoration-thickness: 3px!important;
    text-decoration-color: rgba(245, 124, 51, 1)!important;
    text-underline-offset: 5px!important;
  }
  
  .plus_icon
  {
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
  }

  .dropdown-content 
  {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* End of Header Dropdown */

/* End of Header */

/* Mobile View */
@media only screen and (max-width: 500px)
{
    
    /* Header */
    .header_info_div 
    {
       display: none;
    }

    .header_mob_mail_info_div 
    {
        gap: 10px;
        margin-top: 10px;
        flex-direction: column;
    }
    .logo_img 
    {
        width: 125px;
        height: 57px;
    }

    /* Navbar */
    .mob_menu_icon
    {
        display: block;
        font-size: 20px;
    }

    .nav_book_btn_main_div
    {
        width: 100%;
        position: fixed;
        height: 100%;
        top: 68px;
        left: 0;
        transform: translateX(100%);
        transition: 1s;
        z-index: 999999;
        background-color: #FFFFFF;
    }

    .responsive_nav
    {
        transform: none;
    }
    
    .header_main_link_div 
    {
        height: auto;
    }

    .navbar 
    {
        gap: 10px!important;
        flex-direction: column;
    }
    
    .nav_mob_book_now_div
    {
        display: none;
    }

    .book_now_mob
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    /* End of Navbar */

    #open_close_id
   {
    display: none;
   }

   .btn_book_now 
   {
    width: 194px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .navbar a 
   {
    width: 100%;
    text-align: center;
   }

   /* Dropdown */
   .dropdown 
   {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .dropdown-content 
    {
        position: initial;
        width: 100%;
    }

   /* End of Dropdown */

   .navbar a 
   {
    font-size: 12px;
   }

   .dropdown .dropbtn
   {
    font-size: 12px;
   }
   
   .nav_main_div
   {
    padding: 5px 10px;
   }
    /* End of Header */
  }
  /* End of Mobile View */

  /* Tablet View */
@media only screen and (min-width: 740px) and (max-width: 980px)
{
     /* Header */
     .header_mob_mail_info_div 
     {
         gap: 10px;
     }
 
     .logo_img 
     {
         width: 90px;
         height: 40px;
     }
     
 
     .navbar_info_link_div 
     {
         display: flex;
         gap: 10px;
         padding: 15px 0px;
     }
 
     .nav_social_media_icon_div 
     {
         padding: 0px 10px;
     }
 
     .header_mob_email_info 
     {
         font-size: 9px;
     }
 
     .social_media_icon 
     {
         font-size: 10px;
     }
     /* Navbar */
     .navbar a 
     {
         font-size: 11px;
     }
     
     .btn_book_now
     {
         font-size: 13px;
         width: 100px;
         height: 54px;
         padding: 0px;
     }


    .dropdown .dropbtn 
    {
        font-size: 11px;
    }

    .nav_mob_num 
    {
        font-size: 11px;
    }

    .nav_mob_book_now_div 
    {
        gap: 8px;
    }

    .plus_icon 
    {
        font-size: 10px;
    }
     /* End of Navber */

     .mob_menu_icon
   {
    display: none!important;
   }
     /* End of Header */
  }
  /* End of Tablet Screen */

  /* Mini screen */
  @media only screen and (min-width:790px) and (max-width: 1091px)
  {
    /* Navber */
    .navbar a 
    {
        font-size: 13px;
    }

    .dropdown .dropbtn 
    {
        font-size: 13px;
    }

    .btn_book_now 
    {
        width: 122px;
    }
    
    .nav_mob_book_now_div 
    {
        gap: 13px;
    }

    .mob_menu_icon
   {
    display: none!important;
   }
    /* End of Navbar */
  }
  /* End of Mini screen */

  /* 1092px screen to 1199px screen */
  @media only screen and (min-width:1092px) and (max-width: 1199px)
  {
    /* Navber */
    .navbar a 
    {
        font-size: 13px;
    }

    .dropdown .dropbtn 
    {
        font-size: 13px;
    }

    .btn_book_now 
    {
        width: 122px;
    }
    
    .nav_mob_book_now_div 
    {
        gap: 13px;
    }
    /* End of Navbar */
  }
  /* End of 1092px screen to 1199px screen */