
/* Section 2 */
.section2
{
    margin: 5% 0%;
    position: relative;
}

.sec2_card_main_div
{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(228, 225, 213, 1);
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.card_img
{
    width: 100%;
    height: 198px;
    object-fit: cover;
    margin-bottom: 10px;
}

.sec2_card_title_link
{
    font-family: var(--font-fraunces), serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 26.4px;
    letter-spacing: -0.1599999964237213px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.sec2_card_type
{
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.840000033378601px;
    color: rgba(84, 89, 95, 1);
    margin-bottom: 0px;
}

.sec2_card_info_val_div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}

.sec2_card_info_val_div:last-child
{
    border-bottom: none;
    padding-bottom: 0px;
}

.sec2_card_info_name
{
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.1599999964237213px;
    color: rgba(1, 20, 37, 1);
    margin-bottom: 0px;
}

.sec2_card_info_val
{
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.1599999964237213px;
    color: rgba(84, 89, 95, 1);
    margin-bottom: 0px;
}

.bg1_img
{
    position: absolute;
    top: 20%;
    width: 224px;
    height: 579px;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.bg2_img
{
    position: absolute;
    top: 23%;
    width: 302px;
    height: 462px;
    right: 0;
}

.link_yacht_sell
{
    background-color: rgba(1, 20, 37, 1);
    display: block;
    width: 100%;
    height: 54px;
    padding: 11px 14.68px 12px 13px;
    border: 1px solid rgba(1, 20, 37, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 2.799999952316284px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    transition: 1s;
}

.link_yacht_sell:hover
{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(1, 20, 37, 1);
}
/* End of Section 2 */

/* Mobile Screen */
@media only screen and (max-width: 500px)
{
    /* Section 2 */
    .bg1_img
    {
        display: none;
    }

    .bg2_img
    {
        display: none;
    }
    /* End of ection 2 */
}
/* End of Mobile Screen */

/* Tablet Screen */
@media only screen and (min-width: 740px) and (max-width: 980px)
{
    /* Section 2 */
    .bg1_img
    {
        display: none;
    }
    
    .link_yacht_sell 
    {
        font-size: 12px;
        line-height: 15px;
    }
    /* End of ection 2 */
}
/* End of Tablet Screen */

/* Mini Screen */
@media only screen and (min-width: 990px) and (max-width: 1091px)
{
    /* Section 2 */
    .sec2_card_title_link
    {
        font-size: 20px;
    }
    /* End of Section 2 */
}
/* End of Mini Screen */